<header class="bg-blue-500 text-white text-center py-12">
  <img
    src="https://media.licdn.com/dms/image/D4D03AQH_puuP8fqwOw/profile-displayphoto-shrink_800_800/0/1690953101888?e=1704931200&v=beta&t=jeXj0N6IyZcnL6a4QjKq_HGwxiON-mFYyoc8c0uEri4"
    alt="Rajendra Kumar R Yadav"
    class="mx-auto rounded-full h-64 w-64 mb-4 profile-image"
  />
  <h1 class="text-4xl font-bold leading-tight">Rajendra Kumar R Yadav</h1>
  <p class="text-lg">Web Developer | Software Designer | Code Enthusiast</p>
  <!-- Social Media Links -->
  <div class="mt-4">
    <a href="https://www.linkedin.com/in/yadavrajendrakumar" class="text-white mr-4" target="_blank">
      <i class="fab fa-linkedin"></i> LinkedIn
    </a>
    <a href="https://github.com/rajendrakumaryadav" class="text-white mr-4" target="_blank">
      <i class="fab fa-github"></i> Github
    </a>
    <!-- Add more social media links as needed -->
  </div>
</header>
