<header class="text-center rounded-md py-12">
  <img
    src="https://media.licdn.com/dms/image/D4D03AQH_puuP8fqwOw/profile-displayphoto-shrink_800_800/0/1690953101888?e=1704931200&v=beta&t=jeXj0N6IyZcnL6a4QjKq_HGwxiON-mFYyoc8c0uEri4"
    alt="Rajendra Kumar R Yadav"
    class="mx-auto rounded-full h-64 w-64 mb-4 profile-image rotate-6"
  />
  <h1 class="text-4xl title text-blue-700 font-bold leading-tight">Rajendra Kumar R Yadav</h1>
  <p class="text-lg sub-title text-blue-500">Web Developer | Software Designer | Code Enthusiast</p>
  <!-- Social Media Links -->
  <div>
    <a href="https://www.linkedin.com/in/yadavrajendrakumar" class="mr-4 social-media text-gray-600" target="_blank">
      <i class="fab fa-linkedin"></i> LinkedIn
    </a>
    <a href="https://github.com/rajendrakumaryadav" class="mr-4 social-media text-gray-600" target="_blank">
      <i class="fab fa-github"></i> Github
    </a>
  </div>
</header>
