<header class="text-center rounded-md py-12">
    <img
        src="{{ imagePath }}"
        alt="Rajendra Kumar R Yadav"
        class="mx-auto rounded-full h-64 w-64 mb-4 profile-image rotate-6"
    />
    <h1 class="text-4xl title mb-4 text-blue-700">Rajendra Kumar R Yadav</h1>
    <p class="text-lg sub-title text-blue-500">
        Web Developer | Software Designer | Data Enthusiast
    </p>
    <!-- Social Media Links -->
    <div class="social-links">
        <a
            href="https://www.linkedin.com/in/yadavrajendrakumar"
            class="mr-4 social-media text-gray-600"
            target="_blank"
        >
            <i class="fab fa-linkedin"></i> <span>LinkedIn</span>
        </a>
        <a
            href="https://github.com/rajendrakumaryadav"
            class="mr-4 social-media text-gray-600"
            target="_blank"
        >
            <i class="fab fa-github"></i> <span>Github</span>
        </a>
        <a
            href="https://rajendrakumaryadav.dev"
            class="mr-4 social-media text-gray-600"
            target="_blank"
        >
            <i class="fa-solid fa-globe"></i> <span>Web</span>
        </a>
        <a
            href="https://blogs.rajendrakumaryadav.dev"
            class="mr-4 social-media text-gray-600"
            target="_blank"
        >
            <i class="fab fa-medium"></i> <span>Blogs</span>
        </a>
    </div>
</header>
