<section class="mb-8">
    <h2 class="text-2xl font-bold mb-4">
        Connect with Me <i class="fa fa-users"></i>
    </h2>
    <!-- Social Media Icons -->
    <div class="flex justify-center items-center space-x-4">
        <!-- LinkedIn -->
        <a
            href="https://www.linkedin.com/in/yadavrajendrakumar"
            target="_blank"
            class="text-blue-600 hover:text-blue-800 text-3xl"
        >
            <i class="fab fa-linkedin"></i>
        </a>

        <!-- GitHub -->
        <a
            href="https://github.com/rajendrakumaryadav"
            target="_blank"
            class="text-gray-800 hover:text-gray-900 text-3xl"
        >
            <i class="fab fa-github"></i>
        </a>

        <!-- Medium -->
        <a
            href="https://blogs.rajendrakumaryadav.dev"
            target="_blank"
            class="text-gray-800 hover:text-gray-900 text-3xl"
        >
            <i class="fab fa-medium"></i>
        </a>

        <!-- Medium -->
        <a
            href="https://rajendrakumaryadav.dev"
            target="_blank"
            class="text-gray-800 hover:text-gray-900 text-3xl"
        >
            <i class="fab fa-globe"></i>
        </a>
        <!-- Add more social media icons as needed -->
    </div>
</section>
