<div class="w-full">
  <h2 class="lg:text-lg md:text-md sm:text-sm mb-3 underline font-bold font-serif text-blue-900">
    <i class="fa fa-certificate"></i> Education
  </h2>
  <section *ngIf="educationalData">
    <div *ngFor="let education of educationalData.educational" class="mb-4 mx-4">
      <h4 class="mt-3 font-bold text-gray-500" *ngIf="education.degree && education.dates">
        {{ education.degree }} ({{ education.dates }})
      </h4>
      <p>
        <span class="font-bold text-gray-500">Board / University:- </span>
        <a href="{{ education.url }}" target="_blank" class="text-blue-500 hover:underline">
          {{ education.name }}, {{ education.location }}
        </a>
      </p>
      <p *ngIf="education.state">
        <span class="font-bold text-gray-500">State:- </span> {{ education.state }}
      </p>
    </div>
  </section>
</div>
