@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&family=Ubuntu:wght@300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* body {
  background: url('./assets/images/background.jpg') no-repeat center center fixed;
} */

:root {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
