<!-- Header Section -->
<link
  href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap"
  rel="stylesheet"
/>
<header class="bg-blue-500 text-white text-center py-12">
  <img
    src="https://media.licdn.com/dms/image/D4D03AQH_puuP8fqwOw/profile-displayphoto-shrink_800_800/0/1690953101888?e=1704931200&v=beta&t=jeXj0N6IyZcnL6a4QjKq_HGwxiON-mFYyoc8c0uEri4"
    alt="Rajendra Kumar R Yadav"
    class="mx-auto rounded-full h-64 w-64 mb-4 profile-image"
  />
  <h1 class="text-4xl font-bold leading-tight">Rajendra Kumar R Yadav</h1>
  <p class="text-lg">Web Developer | Software Designer | Code Enthusiast</p>
</header>

<!-- Navigation -->
<!-- <nav class="bg-gray-800 text-white p-4"> -->
<!-- Your navigation links go here -->
<!-- </nav> -->

<!-- Main Content -->
<div class="container mx-auto p-4">
  <!-- Experience Section -->
  <section class="mb-8">
    <h2 class="text-2xl font-bold mb-4">Experience</h2>

    <!-- Current Job -->
    <div class="mb-4">
      <h3 class="text-xl font-semibold">
        &star; Consultant - Magna Steyr India [Jan, 2023]
      </h3>
      <p class="text-gray-600">
        As a Python Developer at Magna Steyr India, I play a pivotal role in the
        development of cutting-edge microservices. Leveraging my expertise in
        Python, I design and implement scalable and efficient microservices
        architecture that forms the backbone of our software solutions. The
        utilization of Docker for containerization ensures seamless deployment
        and scalability, contributing to the agility and efficiency of our
        development process.
      </p>
      <p class="text-gray-600">
        In addition to my role as a Python Developer, I am actively engaged in
        PowerBI development, where I contribute to the creation of interactive
        and insightful dashboards for data analysis. Working closely with
        business stakeholders, I transform raw data into meaningful insights
        through PowerBI visualizations, ensuring our reports provide accurate
        and actionable information.
      </p>
      <p class="text-gray-600">
        My collaborative approach with cross-functional teams allows us to
        deliver high-quality software solutions that meet and exceed the
        expectations of our clients. At Magna Steyr India, I am at the forefront
        of innovation, combining my Python development skills with
        containerization techniques and contributing to the dynamic field of
        data visualization through PowerBI.
      </p>
    </div>

    <!-- Previous Job -->
    <div class="mb-4">
      <h3 class="text-xl font-semibold">
        &star; Web Developer - Narmware Software Solutions Pvt. Ltd. [Mar, 2022 - Jan,
        2023]
      </h3>
      <p class="text-gray-600">
        During my tenure at Narmware, I served as a versatile Web Developer,
        contributing significantly to various projects that spanned both
        monolithic and microservices architectures. My expertise in web
        development was honed through the creation of robust and scalable
        solutions using PHP, including frameworks such as CodeIgniter and
        Laravel.
      </p>

      <p class="text-gray-600">
        As a Web Developer at Narmware, I took a hands-on approach to develop
        and maintain monolithic platforms, utilizing PHP and CodeIgniter to
        build efficient and feature-rich applications. This experience not only
        enhanced my proficiency in PHP development but also solidified my
        understanding of building comprehensive web solutions.
      </p>

      <p class="text-gray-600">
        In addition to monolithic platforms, I delved into the realm of
        microservices, where I played a key role in the adoption of Laravel and
        Docker as our primary development platforms. Leveraging Laravel's
        elegant syntax and Docker's containerization capabilities, I contributed
        to the creation of a scalable and maintainable microservices
        architecture. This allowed us to modularize our applications and enhance
        overall system performance.
      </p>

      <p class="text-gray-600">
        My responsibilities encompassed the end-to-end development process, from
        conceptualization to deployment. Collaborating with cross-functional
        teams, I ensured that our web solutions aligned with the business
        objectives and provided a seamless user experience.
      </p>

      <p class="text-gray-600">
        At Narmware, I thrived on the challenges of web development, whether it
        be in the context of monolithic applications or the intricate landscape
        of microservices. This experience not only enriched my technical skills
        but also fostered a deep appreciation for the dynamic and ever-evolving
        field of web development.
      </p>
    </div>

    <!-- Add more job sections as needed -->
  </section>

  <!-- Social Media Section -->
  <!-- Social Media Section -->
<section class="mb-8">
  <h2 class="text-2xl font-bold mb-4">Connect with Me</h2>

  <!-- Social Media Icons -->
  <div class="flex space-x-4">
    <!-- LinkedIn -->
    <a href="https://www.linkedin.com/in/yadavrajendrakumar" target="_blank"
        class="text-blue-600 hover:text-blue-800">
        <i class="fab fa-linkedin"></i>
    </a>

    <!-- GitHub -->
    <a href="https://github.com/rajendrakumaryadav" target="_blank"
        class="text-gray-800 hover:text-gray-900">
        <i class="fab fa-github"></i>
    </a>

    <!-- Add more social media icons as needed -->
</div>
<!-- Updated on section -->
<!-- <p class="text-gray-700 text-sm mt-2 font-semibold">
  <span class="text-blue-500">Last Updated:</span> {{ buildTime | date: 'MMM d, y, h:mm:ss a' }}
</p> -->

<footer class="bg-blue-500 mt-4 border-r-2 text-white p-4 flex w-full justify-between items-center">
  <p>&copy; {{ buildTime | date: 'y' }} - Rajendra Kumar R Yadav</p>
  <p class="text-gray-700 hidden sm:block text-sm font-semibold rounded-t-md">
    <span class="text-white">Last Updated:</span> {{ buildTime | date: 'MMM d, y, h:mm:ss a' }}
  </p>
</footer>

